---
import Squad from './Squad.astro'
import Logo from './Logo.astro'
import Bio from './Bio.astro'

const { data } = Astro.props;
const lines = data.split('\n')
const teamName = lines[0]
const teamCity = lines[1]
const teamLogo = lines[2]
const teamSquad = lines.slice(3, 14)
const teamBio = lines[14]
---
<div id="content-container">
    <Logo url={teamLogo} />
    <h1>{teamName}</h1>
    <p>Located in: {teamCity}</p>
    <Squad squad={teamSquad} />
    <Bio bio={teamBio} />
</div>